.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.leftmenu{
  /* position:fixed; */
  display: block;
  z-index: 1;
}



.navHead{
  display: flex;
  flex-direction: row;
  align-items: left;
  background-color: white; 
  font-weight:bold; 
  font-size: 15px; 
  text-align:center;
  padding: 2px;
  color: gray;
  border: 1px solid;
}

.navButton{

   padding:10px;
   margin: 5px;
   text-decoration: none;
   Color:gray;
   font-weight:bold;
   border: 1px solid gray;
   border-radius: 10px;
}
.navButton:hover{
  color : blue ;
}
.navTableHeadButtton{
  display: flex;
  flex-direction: row-reverse;
  margin:10px 10px 0 0;
}
.navHeaderText{
  display: flex;
  font-size: 17px;
  margin-left: 40px;;
}
